/* 카테고리별 추천 광고상품 */

body {
  outline: 1px solid rgb(21, 21, 19);

  width: 100%;
  padding: 0;
  margin: 0;
}

.container {
  outline: 1px solid rgb(6, 25, 231);

  margin: 100px 130px 420px 130px;
  width: 1020px;
  height: 1376px;
  flex-shrink: 0;
}

.header-wrap {
  width: 246px;
  height: 56px;
  flex-shrink: 0;
  margin: 0 0 48px 9px;
}

.link {
  display: block;
  width: inherit;
}

/* 카테고리별 추천 광고상품 */
.title-box {
  height: 46px;
  margin-bottom: 24px;

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}


.title-box h4,
.title-box span:first-child,
.title-box span:last-child {
  font-family: "Noto Sans";
  font-style: normal;
  line-height: 115%;
  font-weight: 500;
  color: var(--color-black);
}

.title-box span:first-child {
  font-size: 16px;
}

.title-box h4 {
  font-weight: 700;
  font-size: 24px;
}

.title-box span:last-child {
  color: var(--color-blue-600);
  font-weight: 700;
  font-size: 24px;
  margin-left: 10px;
}

/* 아티클 영역 */
.section-box:first-child {
  outline: 1px solid rgb(165, 5, 5);
  width: 1022px;
  height: 634px;
  flex-shrink: 0;
  margin-bottom: 24px;
}

.section-box:last-child {
  border: 1px solid rgb(6, 231, 107);
  width: 1022px;
  height: 634px;
  flex-shrink: 0;
  margin-top: 24px;
}

.article-box {
  background-color: rgb(186, 239, 239);

  width: 174px;
  height: 634px;
}

.link-box h4 {
  width: 58%;
  height: 28px;
  margin: 48px 49px 8px 24px;

  color: var(--color-brown-300);
  font-family: "Noto Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.direct-box {
  border: 1px solid indianred;
  width: 67px;
  height: 17px;
  margin: 0 88px 0 24px;

  color: var(--color-gray-700);
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  position: relative;
}

.direct-link {
  display: block;
  margin-right: 4px;
  width: inherit;
}

.arrow-img {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../../assets/icon/angle-right-default.svg) no-repeat center right;
}

.keyword-box {
  margin: 248px 26px 30px 24px;
  height: 21px;
  color: var(--color-black);
}

.keyword-box h3 {
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 115%;
}

.keyword-box ul {
  border: 1px solid black;

  width: 124px;
  height: 220px;
  margin-top: 12px;
  display: inline-flex;
  padding: 8px 7px 0px 0px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.keyword-box li {
  display: inline-flex;
  padding: 6px 10px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
  background: var(--color-white);
  color: var(--color-brown-300);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  
  border: 1px solid var(--color-gray-400);
}








.carousel-img img {
  width: 320px;
  height: 631px;
  flex-shrink: 0;
}

.img-box {
  display: flex;
  width: 160px;
  height: 300px;
}

.img-box img {
  width: 160px;
  height: 160px;

}